/* Navigation */

.navbar.transparent.navbar-inverse {
    border-width: 0px;
    position: absolute;
    top:0;
    z-index: 10;
    width: 100%;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    color:white;
}

#brand {
	color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.nav-links {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.baseClass {
	color:white;
}
.navbar-toggler-icon {
	color:white;
}

.navbar a {
    color: white;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: white;
    border-bottom: 1px solid Gainsboro;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: transparent;
  margin-top: 0;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
	background-color: transparent !important;
	color: gray !important;
}

/* Header */

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 4s;
}

.hey-font {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
}

.header-desc-font {
  font-family: 'Assistant', sans-serif;
}

.header {
  text-align: center;
  padding-top: 130px;
}

/*
.carousel {
    top:0;
}
.carousel-inner {
    width: 100%;
    overflow: hidden;
    height:100vh;
}
*/
.center {
  position: center;
  text-align: center;
}

.right {
  position: right;
  text-align: right;
}

/* Introduction */

.intro-container {
  height: 100vh;
  width: 100%;
  position: center;
  margin-top: 10%;

}

.tesia-pic {
  margin-top: 5%;
  position: right;
  text-align: right;
  object-fit: contain;
  height: auto;
  width: 80%;
}

.col1 {
  background-color: pink;
}

.white-box {
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  font-family: 'Assistant', serif;
  font-size: 20px;
}

.home-intro-hey {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
}

.home-intro {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.texas-ex-link {
  text-decoration: none;
  color: rgb(206, 95, 16);
}

.texas-ex-link a, .texas-ex-link:hover {
  text-decoration: none;
  color: rgb(206, 95, 16);
  border-bottom: 1px solid Gainsboro;
  border-color: rgb(206, 95, 16);
}

.marvel-link {
  text-decoration: none;
  color: rgb(234, 32, 37);
}

.marvel-link a, .marvel-link:hover {
  text-decoration: none;
  color: rgb(234, 32, 37);
  border-bottom: 1px solid Gainsboro;
  border-color: rgb(234, 32, 37);
}

.violin-link {
  text-decoration: none;
  color: lightPink;
}

.violin-link a, .violin-link:hover {
  text-decoration: none;
  color: lightPink;
  border-bottom: 1px solid Gainsboro;
  border-color: lightPink;
}

.read-more-link {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid Gainsboro;
}

.read-more-link a, .read-more-link:hover
{
    text-decoration: none;
    color: gray;
    border-bottom: 1px solid Gainsboro;
    border-color: gray;
}

/*
.read-more-link:hover {
  border-bottom: 1px solid Gainsboro;
}
*/
/*

.read-more-link a:visited
a:hover { color: SeaGreen; border-bottom: 1px solid Black;}
}}
*/
/* Footer */

.footer {
  padding-top: 120px;
  margin-bottom: 3%;
  position: relative;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  color: white;
  font-family: 'Gothic A1', serif;
}

.copyright {
  margin-top: 15px;
}


/* Profile page */

.profile-img {
  text-align: center;
  object-fit: contain;
  height: 50%;
  width: 50%;
}

.container-profile {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  position: center;
  margin-top: 10%;
}

.col-1 {
  height: 50%;
  width: 100%;
  background-color: yellow;
}

.col-2 {
  background-color: pink;
}
