.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home */

.responsive-image {
  background-image: url("https://wallpaperbro.com/img/340056.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 width: 100%;
 overflow: hidden;
 object-fit: 'contain';
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;

 /* Center and scale the image nicely */
 /*      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      align-items: center;
      justify-content: center;
*/
}
